body {
    margin-top: 55px;
    padding-bottom: 100px;
}

#p-img {
    font-size: 1.5vw;
}

#h-img {
    font-size: 1.7vw;
}

#btn-img {
    margin-bottom: 0px;
}

.tour-color {
    color: red;
}

#registrationBtn, #returnBtn {
    margin-left: 15px;
}

.modal-header {
    background-color: #fafafa;
}

.modal-body table input, textarea {
    width: 500px;
}

#footer{
    position: fixed;
    left: 0; bottom: 0;
    padding: 10px;
    background: #fafafa;
    color: black;
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

#footer a {
    text-decoration: none;
}