<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/css.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          crossorigin="anonymous">
    <title>Change password</title>
</head>
<body>
<div th:replace="fragments :: nav_full"></div>
<div style="margin-right: 2vw; margin-left: 2vw; margin-top: 20vh">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4" >
            <form action="/change-password" method="post" modelAttribute="changePasswordForm">
                <div class="form-group">
                    <label for="inputPassword">Old password</label>
                    <input name="oldPass" type="password" class="form-control" id="inputPassword"
                           placeholder="Password" autocomplete="off">
                    <input th:value="${id}" name="id" hidden>
                </div>
                <div class="form-group">
                    <label for="inputPassword1">New password</label>
                    <input name="newPass" type="password" class="form-control" id="inputPassword1"
                           placeholder="Password" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="inputPassword2">Repeat new password</label>
                    <input type="password" class="form-control" id="inputPassword2" placeholder="Password" autocomplete="off">
                </div>
                <button id="submitBtn" type="submit" class="btn btn-success">Change</button>
                <a href="/settings"><button id="returnBtn" type="button" class="btn btn-light">Return</button></a>
            </form>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>
<div th:if="${status} == success" class="pop-up">
    Password is updated!
</div>
<div th:if="${status} == error" class="pop-up-error">
    Wrong password, try one more times!
</div>

<script src="js/jquery.js"></script>
<script src="js/scriptReg.js"></script>
<script>
    setTimeout(hiddenMessage, 6000);

    function hiddenMessage() {
        $('.pop-up').attr('hidden', 'hidden');
        $('.pop-up-error').attr('hidden', 'hidden');
    };

    $('#submitBtn').click(function(e) {

        if($('#inputPassword1').val() !== $('#inputPassword2').val()) {
            e.preventDefault();
            alert("Password is not equals")
            window.location.reload();
        }
    })


</script>
</body>
</html>
