<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forgot password</title>
</head>
<body>
    <div>
        <form>
            <span>Please enter the login that you used to sign in</span><br>
            <label for="login">Enter login or phone:</label><br>
            <input type="text" id="login"><br>
            <input type="submit" value="Sent">
        </form>
    </div>
</body>
</html>