<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<nav th:fragment="nav_full" class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <img src="img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Tours shop
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <div>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle-split" href="#" id="navbarDropdownMenuLink0"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false" th:text="${user}">
                        User
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink0">
                        <a th:if="${role} == 'ROLE_USER'" class="dropdown-item" href="/settings">Settings</a>
                        <a th:if="${role} == 'ROLE_USER'" class="dropdown-item" href="/user_purchases">
                            My trips
                        </a>
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/tours">All&nbsp;tours<span class="sr-only"></span></a>
            </li>
        </ul>
    </div>
</nav>

<nav th:fragment="nav_empty" class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <img src="/img/logo.png" width="30" height="30" class="align-top" alt="">
        Tours shop
    </a>
</nav>


<button th:if="${role} == 'ROLE_USER'" th:fragment="modal_btn_user" type="button" class="btn btn-light"
        data-toggle="modal"
        th:data-target="'#modal'+${card[0].getId()}"
        style="margin: 5px;">
    Detailes
</button>
<div th:if="${role} == 'ROLE_USER'" th:fragment="modal_user" class="modal fade" th:id="'modal'+${card[0].getId()}"
     data-backdrop="modal" data-keyboard="true" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 th:text="${card[0].getTitle()}" class="modal-title" id="staticBackdropLabel">Modal title</h5>
            </div>
            <div class="modal-body">
                <p>
                    Description: <span th:text="${card[0].getDescription()}"></span>;
                </p>
                <p>
                    Direction: <span th:text="${card[0].getDirection()}"></span>;
                </p>
                <p>
                    Route: <span th:text="${card[0].getRoute()}"></span> miles;
                </p>
                <p>
                    Notice: <span th:text="${card[0].getNotice()}"></span>;
                </p>
                <p>
                    Price: <span th:text="${card[0].getCost()}"></span> rubles;
                </p>

                <h3>Trips:</h3>
                <form th:id="'tripsForm'+${card[0].getId()}" method="get" action="/user_request">
                    <table border="1" cellpadding="5">
                        <thead>
                        <td>Start date and time</td>
                        <td>Free spots</td>
                        <td>Instructors</td>
                        <td>Get choice</td>
                        </thead>
                        <th:block th:each="trip : ${card[1]}">
                            <tr>
                                <td th:text="${trip.getArriveDate().toLocalDate()} + ' ' + ${trip.getArriveDate().toLocalTime()}"></td>
                                <td th:text="${trip.getFreeSpots()}"></td>
                                <td>
                                    <span th:text="${trip.getInstructors().get('main')}"></span><br>
                                    <span th:text="${trip.getInstructors().get('helper')}"></span>
                                </td>
                                <td><input id="checkboxTrip" type="checkbox" name="checkbox"
                                           th:value="${trip.getId()}"/></td>
                            </tr>
                        </th:block>
                    </table>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" th:form="'tripsForm'+${card[0].getId()}" class="btn btn-light">Sign up to trips
                </button>
            </div>
        </div>
    </div>
</div>


<button th:if="${role} == 'ROLE_ADMIN'" th:fragment="modal_btn_admin" type="button" class="btn btn-info"
        data-toggle="modal"
        th:data-target="'#modal'+${card[0].getId()}+'adm'" style="margin: 5px;">
    Edit tour
</button>
<a th:if="${role} == 'ROLE_ADMIN'" th:href="'/trips?tourId='+${card[0].getId()}" th:fragment="btn_trips" target="_blank">
    <button type="button" class="btn btn-light" style="margin: 5px;">
        Edit trips
    </button>
</a>
<div th:if="${role} == 'ROLE_ADMIN'" th:fragment="modal_admin" class="modal fade"
     th:id="'modal'+${card[0].getId()}+'adm'"
     data-backdrop="modal" data-keyboard="true" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-lg">
        <div class="modal-content">
            <form method="post" action="tours/edit_tour" modelAttribute="editTourForm"
                  th:id="'tourForm'+${card[0].getId()}">
                <div class="modal-header">
                    <div class="modal-title">
                        <span>Title:</span><input th:value="${card[0].getTitle()}" name="title" required>
                    </div>
                </div>
                <div class="modal-body">
                    <input th:value="${card[0].getId()}" name="id" hidden/>
                    <table>
                        <tr>
                            <td>Description:</td>
                            <td><textarea th:text="${card[0].getDescription()}" name="description" rows="2"
                                          required></textarea></td>
                        </tr>
                        <tr>
                            <td>Direction:</td>
                            <td><textarea th:text="${card[0].getDirection()}" name="direction" rows="1"
                                          required></textarea></td>
                        </tr>
                        <tr>
                            <td>Route:</td>
                            <td><input th:value="${card[0].getRoute()}" name="route" class="inputNumber" type="number"
                                       required/></td>
                        </tr>
                        <tr>
                            <td>Notice:</td>
                            <td><textarea th:text="${card[0].getNotice()}" name="notice" rows="2" required></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>Price:</td>
                            <td><input th:value="${card[0].getCost()}" name="cost" class="inputNumber" type="number"
                                       required/></td>
                        </tr>
                    </table>
                </div>
            </form>
            <div class="modal-footer">
                <form th:method="post" th:action="@{/tours/delete/{id}(id=${card[0].getId()})}" class="mr-auto"
                      id="deleteForm">
                    <button type="submit" class="btn btn-danger" id="deleteBtn">Delete tour</button>
                </form>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button th:form="'tourForm'+${card[0].getId()}" type="submit" class="btn btn-light">Submit</button>
            </div>
        </div>
    </div>
</div>

</html>